/* navbar */

.navbar-default{
    background-color: #7F7D7D;
    border-color: #E7E7E7;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}

body{
  background-color: #E4E0E0;
}
.formation{
  width: 100%;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
}

.formationadd{
  background-color:rgba(254,254,254,0.2);
  width: 80%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  border-radius:10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 3px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.formationaddtable{
  background-color:rgba(254,254,254,0.2);
  width: 100%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  border-radius:10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 3px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.roundedCorner {
    width:350px;
    height:auto;
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: 10px -10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px -10px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px -10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 10px -10px 5px rgba(0,0,0,0.6);
    border-radius:25px;
}

.footerForm{
    margin-top:0.4em;
    margin-bottom:0.4em;
}

#googleMap{
    width:100%;
    height:500px;
    border: 0.4px solid #BCB9B9;
}
